
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #0574A8;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: #ffffff;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 5px;
    width: 200px;
    transition: width 0.4s linear;
    color: white;
}

.searchbar:hover > .search_icon {
    color: white;
}
::-webkit-input-placeholder {
    color: white;
    position:center;
    margin-bottom: 5px;
    padding-bottom: inherit;
    flex-direction:column;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
.search_icon {
    height: 25px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    text-decoration: none;
}
