@{
    ViewData["Title"] = "Home Page";
    var config = new ConfigureNameServer();
    var nomeDoServer = config.NameServer;

}

    <div class="container">
        @{
            var erro = TempData["ErroMessage"] as String;
            if (erro != null)
            {
                <div class="alert alert-primary" role="alert">
                    @erro
                </div>
            }
        }

        <div class="panel panel-primary">
            <div class="panel-heading bg-primary col-sm-12  text-white p-2 pd-2 text-center ">Noticias: </div>
            <div class="panel-body">
                <br />
                <h5>
                    • FRAGS •
                </h5>
                <p>
                    RED SKULL = 6 BAN = 7
                </p>
                <h5>
                    • VOCAÇÕES •
                </h5>
                <p>
                    Agora, Valan e Deus são no mesmo PERSONAGEM.
                </p>
                <h5>
                    • PORCENTAGEM •
                </h5>
                <p>
                    Adaptamos nosso servidor para life e mana como porcentagem, mais prático nas war e ajuda quando a life e mana tem mais de uma camada.
                </p>
                <h5>• !STATUS •</h5>
                <p>
                    Agora vocês podem consultar sua life e mana pelo comando !status.
                </p>
                <h5>
                    • GUILD PROTECT •
                </h5>
                <p>
                    Personagens da mesma Guild não podem se atacar.
                </p>
                <h5>
                    • PVP ATTACK •
                </h5>
                <p>
                    Semi-Deus e Deuses podem matar personagens No-Valan porém não influencia no Rank Frags mas ganha o injust normalmente.
                </p>
                <h5>
                    • RUBY COINS •
                </h5>
                <p>
                    Agora nossos npc's reconhecem Ruby Coins como moeda, não é mais preciso ficar trocando para comprar nada.
                </p>
                <h5>
                    • MAGIC LEVEL MÁXIMO •
                </h5>
                <p>
                    Warrior 40, Rogue 150, Warlock e Priest 250.
                </p>
                <h5>
                    • DELAY •
                </h5>
                <p>
                    Delay de 1 segundo para puxar items, porém não influencia em runas e magias.
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary col-sm-12  text-white p-2 pd-2  text-center">Novidades: </div>
            <div class="panel-body">
                <br />

                <p>- Sistema de Forja, agora você pode refinar alguns itens +3.</p>
                <p>- Atributos adicionais nas magias caso esteja com um set +3 equipado.</p>
                <p>- Porcentagem de life e mana.</p>
                <p>- Comando !status.</p>
                <p>- Novas áreas com novas quests.</p>
                <p>- Novos monstros.</p>
                <p>- Nova runa Destroy Field.</p>
                <p>- Nova runa Paralyze.</p>
                <p>- Novo sistema de Reset.</p>
                <p>- Novas hunts.</p>
                <p>- Weapon System, agora você pode mudar o efeito das armas deuses.</p>
                <p>- Guild System.</p>
                <p>- E outras novidades que você só consegue ver jogando.</p>
            </div>
        </div>
    </div>
@section scripts{
    <script>
        $(document).ready(
            function () {
                setTimeout(function () {
                    $(".alert").remove();
                }, 3000);
            }
        );
    </script>


}
