@{
    ViewData["Title"] = "Home Page";
    var config = new ConfigureNameServer();
    var nomeDoServer = config.NameServer;

}

<div class="container">
    @{
        var erro = TempData["ErroMessage"] as String;
        if (erro != null)
        {
            <div class="alert alert-primary" role="alert">
                @erro
            </div>
        }
    }

    <div class="panel panel-primary">
        <div class="panel-heading bg-primary col-sm-12  text-white p-2 pd-2 ">Noticias: </div>
        <div class="panel-body">
            <dl class="row p-3">
                <div class="pd-5 text-justify m-2">
                    <h3><strong>╚═► <span style="color: green;"> Informações do Servidor.</h3></strong></strong></strong></font><p>
                        <h3><span style="color: #ff6a00;"> • Frag's •</font></h3></font></marquee>
                    <p>
                        <span style="color: white;">
                            Frag = 1 HORA // Red Skull = 11 Frags  // Ban = 13 Frags</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • Party System •</font></h3></font></marquee>
                            <span style="color: white;">
                                Personagens da mesma party dividem um percentual de exp e tem o modo pvp (OFF) entre eles.</strong></font>
                                </br>
                                <h3><span style="color: #ff6a00;"> • Sistemas de Atributos •</font></h3></font></marquee>
                    <p>
                        <span style="color: white;">
                            Itens com alguns atributos como: [Inc.Phys], [Inc.Dodge], [Inc.Magic], [Abs.All], [Weapon.DMG], [Reg.Mana], [Reg.Life], [Inc.Critical] e muito mais...</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • Bosses •</font></h3></font></marquee>
                    <p>
                        <span style="color: white;">
                            Todos os bosses e mini bosses agora possui uma caveira, [Black Skull = Boss Poderoso], [Red Skull = Boss Forte], [White Skull = Boss Mediano] e [Yellow Skull = Boss Fraco].</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • Anoriel System •</font></h3></strong></font></marquee>
                    <p>
                        <span style="color: white;">
                            Npc que pode lhe tornar um Deus no level 400, pedindo uma quantidade de Demonic Essences, também podendo lhe tornar um Deus Resetado, assim pedindo que esteja level 500+ e uma quantidade de dinheiro.</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • Forja System •</font></h3></strong></font></marquee>
                    <p>
                        <span style="color: white;">
                            Você pode agora refinar seus itens para +1,+2 ou +3, basta ter em mãos as (blessed's orbs +1, +2 ou +3), o sistema consiste em lhe dar mais atributos em seus itens, assim deixando o seu personagem cada vez mais forte. [OBS: Não é 100% de chance da forja ter sucesso, caso falhe você perderá sua blessed orb].</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • Cooldown • </font></h3></strong></font></marquee>
                    <p>
                        <span style="color: white;">
                            Todas as magias de todas as vocações, possuem um tempo de cooldown para manter o servidor balanceado.</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • GH System •</font></h3></strong></font></marquee>
                    <p>
                        <span style="color: white;">
                            Agora as GH's possuem TRAINERS, DEPOTS e até NPCS.</strong></font>
                            <br />
                            <h3><span style="color: #ff6a00;"> • Mana/Life e Skill's System •</font></h3></strong></font></marquee>
                    <p>
                        <span style="color: white;">
                            Todos os skills máximos que podem ser atingidos são 250 e toda MANA/LIFE que podem ser atingidas são 65000.</strong></font>
                            <br />

                    </p>
                        <h3><strong> ╚═► <span style="color: green;"><strong> Comandos adicionados.</h3></strong></font></strong>
                    </p>
                    <br />
                    <h4><span style="color: white;">(!status) / (!online) / (!frags) / (!dsp) / (!forja) / (!pvp) / (!spells). </font></h4>
                    <br />
                    <p>
                </div>

            </dl>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(
            function () {
                setTimeout(function () {
                    $(".alert").remove();
                }, 3000);
            }
        );
    </script>


}
