@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">teste</h1>
        @{
            var erro = TempData["ErroMessage"] as String;
            if (erro != null)
            {
                <div class="alert alert-primary" role="alert">
                    @erro
                </div>
            }
        }
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
@section scripts{
<script>
    $(document).ready(
        function () {
            setTimeout(function () {
                $(".alert").remove();
            }, 3000);
      }
    );
</script>


}
