@{
    ViewData["Title"] = "Magias";
}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Wyzard - Dark Wyzard - Warlock
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Vis
                            </th>
                            <th class="col-4">
                                20
                            </th>
                            <th class="col-4">
                                1200
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Dark
                            </th>
                            <th class="col-4">
                                50
                            </th>
                            <th class="col-4">
                                50%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Cleric - Elemental Cleric - Priest
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Frigo
                            </th>
                            <th class="col-4">
                                20
                            </th>
                            <th class="col-4">
                                1200
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Mort
                            </th>
                            <th class="col-4">
                                50
                            </th>
                            <th class="col-4">
                                50%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Ranger - Elven Ranger - Rogue
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori Pally
                            </th>
                            <th class="col-4">
                                25
                            </th>
                            <th class="col-4">
                                60%
                            </th>
                        </tr>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Slayer - Dragon Slayer - Warrior
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori Tera
                            </th>
                            <th class="col-4">
                                5
                            </th>
                            <th class="col-4">
                                50%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori bleed
                            </th>
                            <th class="col-4">
                                8
                            </th>
                            <th class="col-4">
                                60%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori Drown
                            </th>
                            <th class="col-4">
                                10
                            </th>
                            <th class="col-4">
                                100%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>