@{
    ViewData["Title"] = "Magias";
}

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Wyzard
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Utani Mas Hur
                            </th>
                            <th class="col-4">
                                20
                            </th>
                            <th class="col-4">
                                10%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Frigo
                            </th>
                            <th class="col-4">
                                50
                            </th>
                            <th class="col-4">
                                50%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Cleric
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Utani Mas Hur
                            </th>
                            <th class="col-4">
                                20
                            </th>
                            <th class="col-4">
                                10%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Mas Vita
                            </th>
                            <th class="col-4">
                                60
                            </th>
                            <th class="col-4">
                                25%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exura Gran Mas Regen
                            </th>
                            <th class="col-4">
                                40
                            </th>
                            <th class="col-4">
                                35%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Ranger
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exana Tera
                            </th>
                            <th class="col-4">
                                10
                            </th>
                            <th class="col-4">
                                15%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Tera
                            </th>
                            <th class="col-4">
                                14
                            </th>
                            <th class="col-4">
                                20%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Shadow
                            </th>
                            <th class="col-4">
                                15
                            </th>
                            <th class="col-4">
                                35%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Slayer
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori Bleed
                            </th>
                            <th class="col-4">
                                6
                            </th>
                            <th class="col-4">
                                35%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Flam
                            </th>
                            <th class="col-4">
                                5
                            </th>
                            <th class="col-4">
                                20%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Fear
                            </th>
                            <th class="col-4">
                                5
                            </th>
                            <th class="col-4">
                                30%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori Hur
                            </th>
                            <th class="col-4">
                                7
                            </th>
                            <th class="col-4">
                                25%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Mas Res
                            </th>
                            <th class="col-4">
                                4
                            </th>
                            <th class="col-4">
                                10%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Dark Wyzard
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Frigo
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                30%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Adori Gran Frigo
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                30%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Flam
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                35%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Gran Mas Frigo
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                35%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Dark
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                40%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Adori Gran Dark
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                60%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Elemental Cleric
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exana Mas Hur
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                40%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Hur
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                40%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exana Gran Mas Hur
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                30%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exana Res Mas Drain
                            </th>
                            <th class="col-4">
                                75
                            </th>
                            <th class="col-4">
                                40%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <hr />
        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Elven Ranger
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Pox
                            </th>
                            <th class="col-4">
                                25
                            </th>
                            <th class="col-4">
                                15%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Mas Flam
                            </th>
                            <th class="col-4">
                                15
                            </th>
                            <th class="col-4">
                                30%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Gran Mas Tera
                            </th>
                            <th class="col-4">
                                15
                            </th>
                            <th class="col-4">
                                40%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />

        <div class="panel panel-primary">
            <div class="panel-heading bg-primary   text-white p-2 justify-content-lg-start">
                Dragon Slayer
            </div>

            <div class="panel-body">
                <table class="table table-secondary">
                    <thead>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Nome
                            </th>
                            <th class="col-4">
                                Magic Level
                            </th>
                            <th class="col-4">
                                Custo de Mana
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Mas God
                            </th>
                            <th class="col-4">
                                10
                            </th>
                            <th class="col-4">
                                25%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exevo Hur
                            </th>
                            <th class="col-4">
                                10
                            </th>
                            <th class="col-4">
                                30%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exori Gran Tera
                            </th>
                            <th class="col-4">
                                10
                            </th>
                            <th class="col-4">
                                40%
                            </th>
                        </tr>
                        <tr class="d-lg-flex">
                            <th class="col-4">
                                Exeta Mas Regen
                            </th>
                            <th class="col-4">
                                10
                            </th>
                            <th class="col-4">
                                60%
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>